In [1]:
import pandas as pd

# Specify path to Excel file
excel_file_path = '/Users/drod/de_projects/project3/cleaned_netflix.xlsx'

# Load the Excel file into a dictionary of DataFrames, one for each sheet
all_sheets_dict = pd.read_excel(excel_file_path, sheet_name=None)

<h3 align="center">Displaying Data</h3>

In [2]:
for sheet_name, df in all_sheets_dict.items():
    print(f"Original Sheet name: {sheet_name}")
    print(df.head(), "\n")  # Display the first few rows
    print("Null values count:")
    print(df.isnull().sum(), "\n")  # Display the count of null values
    print("Original Data types:")
    print(df.dtypes, "\n")  # Display the data types

Original Sheet name: Netflix annual revenue
   Year  Revenue ($bn)
0  2011            3.1
1  2012            3.5
2  2013            4.3
3  2014            5.4
4  2015            6.7

Null values count:
Year             0
Revenue ($bn)    0
dtype: int64

Original Data types:
Year               int64
Revenue ($bn)    float64
dtype: object

Original Sheet name: Netflix annual revenue by regio
   Year  US & Canada  EMEA  Latin America  Asia-Pacific
0  2018         8.28  3.95           2.22          0.94
1  2019        10.05  5.54           2.78          1.46
2  2020        11.45  7.77           3.13          2.37
3  2021        12.97  9.69           3.57          3.26
4  2022        14.08  9.74           4.06          3.57

Null values count:
Year             0
US & Canada      0
EMEA             0
Latin America    0
Asia-Pacific     0
dtype: int64

Original Data types:
Year               int64
US & Canada      float64
EMEA             float64
Latin America    float64
Asia-Pacific     float64
dtype: object

Original Sheet name: Netflix annual ARPU by region
   Year  US & Canada   EMEA  Latin America  Asia-Pacific
0  2018        11.28  10.20           7.53          9.19
1  2019        13.22  10.51           8.18          9.07
2  2020        13.51  11.05           7.12          9.32
3  2021        14.78  11.64           8.14          9.26
4  2022        15.86  10.99           8.48          8.50

Null values count:
Year             0
US & Canada      0
EMEA             0
Latin America    0
Asia-Pacific     0
dtype: int64

Original Data types:
Year               int64
US & Canada      float64
EMEA             float64
Latin America    float64
Asia-Pacific     float64
dtype: object

Original Sheet name: Netflix annual net income loss
   Date  Net Income/Loss ($mm)
0  2011                    225
1  2012                     17
2  2013                    112
3  2014                    266
4  2015                    122

Null values count:
Date                     0
Net Income/Loss ($mm)    0
dtype: int64

Original Data types:
Date                     int64
Net Income/Loss ($mm)    int64
dtype: object

Original Sheet name: Netflix annual content spend
   Year  Content spend ($bn)
0  2016                 6.88
1  2017                 8.91
2  2018                12.00
3  2019                13.90
4  2020                11.80

Null values count:
Year                   0
Content spend ($bn)    0
dtype: int64

Original Data types:
Year                     int64
Content spend ($bn)    float64
dtype: object

Original Sheet name: Netflix annual subscribers
   Date  Subscribers (mm)
0  2011             21.50
1  2012             25.71
2  2013             35.63
3  2014             47.99
4  2015             62.71

Null values count:
Date                0
Subscribers (mm)    0
dtype: int64

Original Data types:
Date                  int64
Subscribers (mm)    float64
dtype: object

Original Sheet name: Netflix annual subscribers by r
   Year  US & Canada  EMEA  Latin America  Asia-Pacific
0  2018         64.7  37.8           26.0          10.6
1  2019         67.6  51.7           31.4          16.2
2  2020         73.9  66.7           37.5          25.4
3  2021         75.2  74.0           39.9          32.6
4  2022         74.2  76.7           41.6          38.0

Null values count:
Year             0
US & Canada      0
EMEA             0
Latin America    0
Asia-Pacific     0
dtype: int64

Original Data types:
Year               int64
US & Canada      float64
EMEA             float64
Latin America    float64
Asia-Pacific     float64
dtype: object

Original Sheet name: US audience streaming minutes
           App  Percentage of minutes spent
0      Netflix                         22.4
1      YouTube                         20.4
2         Hulu                         11.2
3  Prime Video                          7.8
4      Disney+                          6.1

Null values count:
App                            0
Percentage of minutes spent    0
dtype: int64

Original Data types:
App                             object
Percentage of minutes spent    float64
dtype: object

Original Sheet name: US streaming services library
           App  Movies  TV Shows
0      Netflix    3600      1800
1  Prime Video   26300      2700
2      HBO Max    2000       580
3         Hulu    1230      1300
4      Disney+     740       280

Null values count:
App         0
Movies      0
TV Shows    0
dtype: int64

Original Data types:
App         object
Movies       int64
TV Shows     int64
dtype: object

<h3 align="center">Thought Process</h3>

Upon initial examination of the dataset, several areas for data cleaning and standardization were identified:

- **Incomplete and Misformatted Titles**:
  - The titles of the tables appeared incomplete and misformatted, likely due to the data scraping process or a lack of post-processing.
  - Titles with extraneous numbers and letters, not conveying meaningful information, were cleaned for clarity.

- **Data Type Correction for 'Year' and 'Date'**:
  - Initially, 'Year' and 'Date' fields were set as integers (`int`), leading to incorrect display in visualizations (e.g., '2018' displaying as '2,018').
  - To rectify this, these fields were converted to string data type. This ensures correct representation and avoids misinterpretation in visualizations, while keeping the data suitable for year-based grouping and analysis.

- **Column Name Standardization**:
  - Identified spaces in column names could lead to compatibility issues with certain data analysis tools.
  - For improved readability and adherence to standard data processing practices, spaces in column names were replaced with underscores (`_`).

- **Data Integrity Check**:
  - A comprehensive check for null values was conducted across all tables to ensure data completeness.
  - The examination revealed no missing data, as indicated by the null value counts (e.g., 'Year' and 'Revenue' columns showing zero null values), confirming the dataset's integrity for analysis.

These steps were taken to enhance the dataset's usability, ensuring that it is clean, consistent, and well-prepared for in-depth analysis and interactive visualization.

<h3 align="center">Correcting Data Types and spaces in between words in titles</h3>

In [3]:
#Correcting specific sheet names and applying transformations
corrected_sheets_dict = {}
for sheet_name, df in all_sheets_dict.items():
    # Correct specific sheet names
    if sheet_name == 'Netflix annual revenue by regio':
        sheet_name = 'Netflix annual rev by region'
    elif sheet_name == 'Netflix annual subscribers by r':
        sheet_name = 'Netflix annual subs by region'

    # Replace spaces with underscores in column names
    df.columns = [col.replace(' ', '_') for col in df.columns]

    # Convert 'Year' and 'Date' columns to string format, if they exist
    for col in ['Year', 'Date']:
        if col in df.columns:
            df[col] = df[col].astype(str)

    # Remove trailing underscores from sheet names, if any
    sheet_name = sheet_name.rstrip('_')

    # Save the modified DataFrame and sheet name
    corrected_sheets_dict[sheet_name] = df

<h3 align="center">Looking at changes</h3>

In [4]:
# Iterating through the corrected dictionary to see the names, data, and data types
for sheet_name, df in corrected_sheets_dict.items():
    print(f"Sheet name: {sheet_name}")
    print(df.head(), "\n")  # Display the first few rows of each DataFrame
    print("Data types:")
    print(df.dtypes, "\n")  # Display the data types of each column

Sheet name: Netflix annual revenue
   Year  Revenue_($bn)
0  2011            3.1
1  2012            3.5
2  2013            4.3
3  2014            5.4
4  2015            6.7

Data types:
Year              object
Revenue_($bn)    float64
dtype: object

Sheet name: Netflix annual rev by region
   Year  US_&_Canada  EMEA  Latin_America  Asia-Pacific
0  2018         8.28  3.95           2.22          0.94
1  2019        10.05  5.54           2.78          1.46
2  2020        11.45  7.77           3.13          2.37
3  2021        12.97  9.69           3.57          3.26
4  2022        14.08  9.74           4.06          3.57

Data types:
Year              object
US_&_Canada      float64
EMEA             float64
Latin_America    float64
Asia-Pacific     float64
dtype: object

Sheet name: Netflix annual ARPU by region
   Year  US_&_Canada   EMEA  Latin_America  Asia-Pacific
0  2018        11.28  10.20           7.53          9.19
1  2019        13.22  10.51           8.18          9.07
2  2020        13.51  11.05           7.12          9.32
3  2021        14.78  11.64           8.14          9.26
4  2022        15.86  10.99           8.48          8.50

Data types:
Year              object
US_&_Canada      float64
EMEA             float64
Latin_America    float64
Asia-Pacific     float64
dtype: object

Sheet name: Netflix annual net income loss
   Date  Net_Income/Loss_($mm)
0  2011                    225
1  2012                     17
2  2013                    112
3  2014                    266
4  2015                    122

Data types:
Date                     object
Net_Income/Loss_($mm)     int64
dtype: object

Sheet name: Netflix annual content spend
   Year  Content_spend_($bn)
0  2016                 6.88
1  2017                 8.91
2  2018                12.00
3  2019                13.90
4  2020                11.80

Data types:
Year                    object
Content_spend_($bn)    float64
dtype: object

Sheet name: Netflix annual subscribers
   Date  Subscribers_(mm)
0  2011             21.50
1  2012             25.71
2  2013             35.63
3  2014             47.99
4  2015             62.71

Data types:
Date                 object
Subscribers_(mm)    float64
dtype: object

Sheet name: Netflix annual subs by region
   Year  US_&_Canada  EMEA  Latin_America  Asia-Pacific
0  2018         64.7  37.8           26.0          10.6
1  2019         67.6  51.7           31.4          16.2
2  2020         73.9  66.7           37.5          25.4
3  2021         75.2  74.0           39.9          32.6
4  2022         74.2  76.7           41.6          38.0

Data types:
Year              object
US_&_Canada      float64
EMEA             float64
Latin_America    float64
Asia-Pacific     float64
dtype: object

Sheet name: US audience streaming minutes
           App  Percentage_of_minutes_spent
0      Netflix                         22.4
1      YouTube                         20.4
2         Hulu                         11.2
3  Prime Video                          7.8
4      Disney+                          6.1

Data types:
App                             object
Percentage_of_minutes_spent    float64
dtype: object

Sheet name: US streaming services library
           App  Movies  TV_Shows
0      Netflix    3600      1800
1  Prime Video   26300      2700
2      HBO Max    2000       580
3         Hulu    1230      1300
4      Disney+     740       280

Data types:
App         object
Movies       int64
TV_Shows     int64
dtype: object

<h3 align="center">Saving Changes</h3>

In [5]:
# Path for the new Excel file
output_excel_file_path = '/Users/drod/de_projects/project3/transformed_netflix_data.xlsx'

# Create a Pandas Excel writer using XlsxWriter as the engine
with pd.ExcelWriter(output_excel_file_path, engine='xlsxwriter') as writer:
    for sheet_name, df in corrected_sheets_dict.items():
        # Write each DataFrame to a different worksheet
        df.to_excel(writer, sheet_name=sheet_name, index=False)

 <h3 align="center">Overcoming Data Preparation Challenges</h3>

Throughout this project, I encountered a series of challenges related to correcting the titles of data sheets. My journey to finding an effective solution involved several attempts and taught me a valuable lessons about data exploration and preparation with Excel.

<h3 align="center">Initial Attempts with Code and Excel</h3>

- **Code-Based Solutions**: Initially, I attempted to fix the titles directly through code. This approach seemed promising but unfortunately did not yield the desired results. The modifications I applied in the code were not correctly reflected in the output, leading to the first roadblock.
  
- **Manual Adjustments in Excel**: As a next step, I tried renaming the titles manually within Excel. To my surprise, this method also failed. The changes either didn't save properly or reverted upon reloading the file, adding to the complexity of the issue.

<h3 align="center">A Shift in Strategy: Conversion to JSON</h3>

- Faced with persistent challenges, I began to suspect intrinsic attributes in the dataset that resisted modification. This led me to consider a different approach: converting the Excel file to JSON format. My hypothesis was that a JSON representation might bypass these potential constraints.Upon converting the data to JSON, I was able to successfully implement the title changes. This step was crucial as it suggested that the issue lay not with the data itself, but possibly with the Excel environment.

<h3 align="center">Understanding Excel's Limitations</h3>

- The breakthrough moment came when I discovered a critical limitation in Excel: the maximum character limit for sheet names is 31 characters. This realization was pivotalâ€”it explained why some title changes were not being applied, especially for longer names like 'Netflix annual revenue by regio' and 'Netflix annual subscribers by r'.
  
- I modified my approach to shorten these titles while still maintaining their descriptiveness and clarity. This simple yet crucial adjustment was the key to resolving the title issues.
  
<h3 align="center">Reflections</h3>

- Had I known about Excel's character limit earlier, I could have directly shortened the titles in Excel, circumventing the need for a roundabout solution. This experience underscored the importance of understanding the tools and environments I work with.
  
- The journey, although filled with obstacles, was enlightening. It offered practical insights into problem-solving and adapting strategies to align with software constraints.